<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/locais/tabs/ofertas/nova-oferta">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size = "12" size-sm="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{ ofertas[0].titulo }} </ion-card-title>
            <ion-card-subtitle>Preço promocional = {{ (ofertas[0].preco) | currency }} - 40%</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="ofertas[0].imagemUrl"></ion-img>
          <ion-card-content>
            <p>{{ofertas[0].descricao}}</p>
          </ion-card-content>
          <div class="ion-text-center">
            <ion-button 
             fill="clear"
             color="primary" 
             [routerLink]="['/','locais','tabs','ofertas',ofertas[0]?.id]"
            > Detalhe da oferta
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center> 
        <ion-list>
          <ion-item-sliding *ngFor = "let oferta of ofertas" #slidingItem >
            <ion-item 
            [routerLink]="['/','locais','tabs','ofertas',oferta?.id]"
            detail>
              <ion-thumbnail slot ="start">
                <ion-img [src]="oferta.imagemUrl"></ion-img>
              </ion-thumbnail>
              <ion-label> 
                <h2>{{oferta.titulo}}</h2>
                <!-- <p>{{oferta.descricao}}</p> -->
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color = "primary" (click)="onEditar(oferta.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
